.popular-news-section{
    @apply space-y-10;

    .top-section{
        .posts{

            .post{
                display: grid;
                grid-template-columns: 100px auto;
                gap: 1rem;
                @apply py-3 border-b;
                &:last-child{@apply border-b-0}

                .post-thumbnail{@apply h-[100px]}

                .content{
                    @apply flex flex-col justify-between;
                    .post-title{@apply text-h4;}
                }
            }
        }
    }

    .section-bottom{
        @apply p-0;

        .posts{
            .post{
                @apply py-3 border-b flex flex-col gap-2;
                .post-title{@apply text-h4}
            }
        }
    }
}
