.dashboard {

    @apply md:grid;
    margin: auto;
    grid-template-columns: 14rem 1fr 20rem;
    background: #F6F8F9;
    font-family: 'Poppins', sans-serif;

    aside {
        @apply h-screen;

        .top {
            @apply flex items-center justify-between uppercase;

            .close {
                @apply hidden;
            }
        }

        >.sidenar {
            @apply flex flex-col h-[86vh] relative top-[3rem];
        }

        h3 {
            font-weight: 500;
        }
    }
}
